html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color:white;
}

body {
    background-image: url("./media/tablero.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.topnav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 65px;
  align-items: center;
  justify-content: center;
  gap: 60%;
  padding: 0 10px;
  backdrop-filter: blur(10px) saturate(40%);
  background-color: rgba(10, 9, 9, 0.596);
  border-radius: 15px;
  color: white;

}
.topnav .menu {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.topnav .menu a {
  text-decoration: none;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 10px;
}
.colormenu {
  text-decoration: none;
  color:white;

}
.colormenu:hover {
  color:white;
  letter-spacing: 3px;
  box-shadow: 10px 10px 10px black;
}
.desc {
  display: flex;
  flex-direction:row;
  margin: 5%;
  gap: 20%;
  display: flex;
  justify-content: center;
}

.pieza{
    background-color: rgb(64, 224, 208, 0.5);
    width: 50%;
    height: 30%;
    display: block;
    color: black;
    text-align: center;
    transition: linear 1.5s;
    border-radius: 4%;
}
